 @media (max-width: 767px) {
    .footer-newsletter{
        margin-top: 2%;
      }
      .footer-left{
        align-items: center !important;
        text-align: center;
      }
      .footer-heading-sm {
        text-align: center;
      }
      .footer-contact{
        text-align: center;
      }
      .footer-heading {
        padding-left: 10%;
      }
      .footer-links{
         padding-left: 10%;
      }
      .donation-card{ width: 94%; border-radius: 1.4rem; }
  .donation-card__content{ padding: 6% 6%; }
  .donation-card__bg{ display:none; } /* mobile pe clean */
  .steps{ width: 100%; }
  .donation-form{ width: 100%; }

  /* badge center on small screens */
  .donation-badge{
    /* left: 50%;
    transform: translate(-50%, -52%); */
    display: none !important;
  }

  .btn-next{ padding: 2.6% 6%; }
  .intl__btn{ padding: 2.8% 10%; }
   .jdc-hero__rightTop {
    grid-template-columns: 1fr;
  }
  .jdc-hero__avatarWrap {
    width: 84px;
  }
    /* container single column */
  .jdc-hero__container {
    grid-template-columns: 1fr;
    gap: 18px;
    text-align: center;
  }

  /* divider hide */
  .jdc-hero__divider {
    display: none;
  }

  /* left column: avatar first, center */
  .jdc-hero__col--left {
    align-items: center; /* flex items center */
    padding-top: 0;
  }

  /* avatar center */
  .jdc-hero__avatarWrap--leftRight {
    align-self: center;
    margin: 0 0 14px 0;
  }

  /* left text center */
  .jdc-hero__title,
  .jdc-hero__text {
    text-align: center;
  }

  /* right column center */
  .jdc-hero__col--right,
  .jdc-hero__rightTop,
  .jdc-hero__rightCopy,
  .jdc-hero__eyebrow,
  .jdc-hero__headline,
  .jdc-hero__subline {
    text-align: center;
  }

  /* right top padding remove on mobile */
  .jdc-hero__rightTop {
    padding-top: 0;
  }

  /* optional: better spacing */
  .jdc-hero__subline {
    margin-top: 12px;
  }
    .pay-grid{ grid-template-columns:1fr; }
      .bank-layout{
        grid-template-columns:1fr;
      }
      .bank-hands{
        display:none;
      }
      .bank-menu-btn{
        padding:4% 5%;
      }
        .grid{ grid-template-columns:1fr; }
      .email-half{ grid-column:auto; max-width:none; }
      label{ text-align:left; }
      .banner-content h1 {
    font-size: 1.6rem;
  }
}
/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
  /* tablets */
      .footer-newsletter{
        margin-top: 2%;
      }
      .footer-heading{ text-align:left; }
      .footer-newsletter{ max-width: 100%; }
      .donation-card__bg{ width: 50%; opacity:.14; }
  .steps, .donation-form{ width: 92%; }
  .donation-badge{ left: 8%; }
  .wrap {
    grid-template-columns: 1fr;
    gap: 24px;
  }
   /* bananer */
    .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1rem;
  }
  .center-media {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
    .pay-grid{ grid-template-columns:1fr; }
      .bank-layout{
        grid-template-columns:1fr;
      }
      .bank-hands{
        display:none;
      }
      .bank-menu-btn{
        padding:4% 5%;
      }
}
/* laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* laptops */
}
 /* desktops */
@media (min-width: 1200px) {
  /* desktops */
}
