body{
    padding: 0% !important;
    margin: 0% !important;
}
/* 
==========================================================
  3. header-style
========================================================== 
*/

.top-bar {
  position: relative;
  background: #fff;
  position: relative;
  z-index: 9;
  padding-top: 15px;
}

.top-bar .column {
  width: 33.33333333%;
  float: left;
  margin-bottom: 19px;
}

/*============ top bar text ========*/
.top-bar .top-bar-text {
  display: inline-block;
}
.top-bar .top-bar-text li {
    color: #272727;
    font-size: 11px;
    font-weight: 400;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.top-bar .top-bar-text li i {
  color: #ff2e3d;
  margin-right: 12px;
    font-size: 14px;
    position: relative;
    top: 1px;
}

/*============ social icon ========*/
.top-bar .social{
  text-align: center;
  width: 50%;
  display: inline-block;
}
.top-bar .social li a{
  color: #272727;
  font-size:12px;

 
}
.top-bar .social li a:hover {
  color: #ff2e3d;
  transition: .5s ease-in-out;
}

.top-bar .social li:last-child {
  padding-right: 0px;
}
.top-bar .social,
.top-bar .link {
  display: inline-block;

}
/*============ login info ========*/
.top-bar .login-info li {
    display: inline-block;
}
.top-bar .login-info li a {
    color: #272727;
    font-size: 11px;
    font-weight: 400;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.top-bar .login-info li i {
  color: #ff2e3d;
  margin-right: 12px;
    font-size: 14px;
    position: relative;
    top: 1px;
}

/*logo*/

.main-logo {
  margin: 30px 0  30px;
}
.theme_menu .container {
    position: relative;
}
/*
===================================================
    4. Mainmenu style
===================================================
*/

.theme_menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.17);
}

.mainmenu-area {
  background: #fff;
}

.main-menu {
  position: relative;
}

.navbar-collapse {
  padding: 0px
}

.navigation {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.navigation li {
  display: inline-block;
}

.navigation > li.active > a {
  color: #ff2e3d;
}
.navigation > li > a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  padding: 30px 0px;
  margin: 0 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 500ms ease 0s;
}

.navigation > li:first-child > a {
  margin-left: 0px;
}
.navigation li > ul > li > a {
  color: #203364;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px 0px;
  margin: 0 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 500ms ease 0s;
}


.navigation li:last-child a {
  margin-right: 0px;
}
.navigation > li:hover > a {
  color: #ff2e3d;
}

.navigation > li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  background: #333;
  width: 230px;
  padding: 12px 0px;
  border-left: 3px solid #ff2e3d;
  z-index: 999;
  display: none;
}

.navigation > li > ul > li {
  position: relative;
  display: block;
}

.navigation > li > ul > li > a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 20px;
  margin: 0;
  text-transform: capitalize;
  transition: all 500ms ease 0s;
}

.navigation > li > ul > li:hover > a {
  color: #ff2e3d;
}

/*========= third-menu ===============*/

.navigation > li > ul > li.third-menu ul {
  position: absolute;
  left: 230px;
  top: 0px;
  background: #333;
  width: 200px;
  border-top: 2px solid #fff;
  padding: 12px 0px;
  z-index: 999;
  display: none;
}
.navigation > li > ul > li.third-menu {
  position: relative;
}
.navigation > li > ul > li.third-menu ul a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 20px;
  margin: 0;
  text-transform: capitalize;
  transition: all 500ms ease 0s;
}
.navigation > li > ul > li.third-menu ul a:hover {
  color: #fdc716;
}
.navigation > li > ul > li.third-menu:after {
  position: absolute;
  content: "\f0de";
  font-family: FontAwesome;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  right: 14px;
  transform: rotate(90deg);
  top: 3px;
}

/*========= mobile-menu ==============*/

.mobile-menu .dropdown-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 42px;
  border-left: 1px solid rgba(255, 255, 255, 0.39);
  cursor: pointer;
  display: block;
  z-index: 5;
}
.mobile-menu .dropdown-btn:after {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.mobile-menu,
.mobile-menu > li > ul,
.mobile-menu > li > ul > li > ul{
  background: #333;
}

.mobile-menu > li > ul,
.mobile-menu > li > ul > li > ul{
  display: none;
}

.mobile-menu > li > a,
.mobile-menu > li > ul > li > a,
.mobile-menu > li > ul > li > ul > li > a{
  padding:10px 20px;
  line-height:22px;
  color:#ffffff;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.39);
} 

.theme_menu.stricky-fixed .main-logo {
    margin: 20px 0;
}

.theme_menu.stricky-fixed .navigation > li > a {
  padding: 20px 0px;
}

.theme_menu.stricky-fixed .nav_side_content {
    margin-top: 32px;
}

.theme_menu.stricky-fixed .nav_side_content .search_option form {
  top: 58px;
}

.theme_menu .right-column {
    position: absolute;
    right: 0;
    width: 50px;
}

.nav_side_content {
  margin-top: 44px;
  position: relative;
  right: 0;
}
.nav_side_content .cart_select>button {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  margin-right: 23px;
  color:#272727;
}
.nav_side_content .cart_select>button span {
  font-weight: normal;
  padding: 0 0px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -20px;
  color: #ff2e3d;
}
.nav_side_content .cart_select>button i {
  font-size: 18px;
  margin-left:5px;
}
.nav_side_content .cart_select,
.nav_side_content .search_option {
  display: inline-block;
  vertical-align: middle;
}
.nav_side_content .search_option>button {
  height: 26px;
  font-size: 15px;
  color: #fff;
  border-left: 1px solid #828d92;
  padding-left: 35px;
}

.nav_side_content .search_option form {
    height: 50px;
    width: 280px;
    padding: 5px;
    border-radius: 4px;
    margin: 0;
    left: auto;
    right: 0;
    border-color: #ff2e3d;
    top: 70px;
}
.nav_side_content .search_option form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #9e9e9e;
    border: 1px solid rgba(51, 51, 51, 0.16);
    padding: 0 47px 0 10px;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: inset 0 0 11px 2px rgba(119, 119, 119, 0.25);
}
.nav_side_content .search_option form button {
  display: block;
  width:40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top:5px;
  right:5px;
  color:#ff2e3d;
}
.nav_side_content .cart_select {
  border-left: 1px solid #ececec;
  padding-left: 5px;
}

.theme_menu .link_btn {
  margin-top: 24px;
}

/* Mainmenu fixed style */
@keyframes menu_sticky {
  0%   {margin-top:-100px;}
  50%  {margin-top: -90px;}
  100% {margin-top: 0;}
}
.theme_menu.stricky-fixed {
  margin: 0;
  position: fixed;
  background: #252525;
  top:0;
  left:0;
  width: 100%;
  z-index: 99999;
  animation-name: menu_sticky;
  animation-duration: 0.60s;
  animation-timing-function: ease-out;
}

